<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Forms9Patch" version="0.9.13.5" targetFramework="monoandroid60" developmentDependency="true" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Runtime" version="4.1.0" targetFramework="monoandroid60" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
</packages>